@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,700;1,300;1,400&display=swap');

html, body{
    margin: 0;
    width: 100%;
}

ul li{
    list-style: none;
}

ul li a{
    text-transform: uppercase;
    text-decoration: none;
}

header{
    background-color:#fff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    text-align: center; 
}

figure#main-logo{
    float: left;
    margin: 20px 155px 26px 155px;
}

figure#main-logo img{
    width: 100%;
    height: auto;
}

nav#navbar{
    display: inline-block;
    font-size: 16px;
}

input#btn-login{
    display: inline-block;
    margin: 37px 130px 34px 0px;
    color: #488EFF;
    border: 2px solid #488EFF;
    border-radius: 4px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 22px;
}

nav#navbar ul{
    padding: 0px;
    margin-top: 50px;
}

nav#navbar ul li{
    display: inline-block;
    margin-right: 67px;
}

nav#navbar ul li a{
    color: #232323;
}

main.container-lg-main{
    width: 100%;
}

main section.container{
    background-color:rgba(72, 142, 255,0.05);
    height: 88vh;
    position: relative;
}

div.container-main{
    width: 60%;
    margin: 0 auto;
}

main section.container figure#figure-1{
    position: absolute;
    text-align: right;
    right: 245px;
    padding: 0; margin: 0;

}

figure#figure-1 img, figure#figure-2 img, figure#figure-3 img{
    width: 100%;
    height: auto;
}

main section.container figure#figure-2{
    position: absolute;
    bottom: 0px;
    margin: 0; padding: 0;
}

main section.container figure#figure-3{
    position: absolute;
    bottom: 0px;
    margin: 0; padding: 0;
}

div#header{
    font-family: 'Alegreya', serif;
    font-size: 60px;
    font-weight: 700;
    padding-top: 170px;
    line-height: 82px;
}

div#header p{
    margin-top: 0px;
    margin-bottom: 50px;
}

div#header p span#underline{
    background-image: linear-gradient(120deg, #81E6FF 0%, #81E6FF 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 80%;
}

div#sub-header{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 0.5px;
    margin-bottom: 40px;
}

div#description{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 21px;
    line-height: 40px;
}

div#description p{
    margin: 0;
}

input.btn-getstarted{
    background-color: #488EFF;
    color: #fff;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    padding: 16px 36px;
    border: 0px;
    border-radius: 20px 0 20px 0;
    box-shadow: -5px 5px rgba(72, 142, 255,0.3);
}

input#button-main-1{
    margin-top: 55px;
}
