@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,700;1,300;1,400&display=swap');

html, body{
    margin: 0;
    width: 100%;
}

ul li{
    list-style: none;
}

ul li a{
    text-transform: uppercase;
    text-decoration: none;
}

header{
    background-color:#fff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    text-align: center; 
}

figure#main-logo{
    float: left;
    margin: 20px 155px 26px 155px;
}

figure#main-logo img{
    width: 100%;
    height: auto;
}

nav#navbar{
    display: inline-block;
    font-size: 16px;
}

input#btn-login{
    display: inline-block;
    margin: 37px 130px 34px 0px;
    color: #488EFF;
    border: 2px solid #488EFF;
    border-radius: 4px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 22px;
}

nav#navbar ul{
    padding: 0px;
    margin-top: 50px;
}

nav#navbar ul li{
    display: inline-block;
    margin-right: 67px;
}

nav#navbar ul li a{
    color: #232323;
}

main.container-lg-main{
    width: 100%;
}

main section.container{
    background-color:rgba(72, 142, 255,0.05);
    height: 88vh;
    position: relative;
}

div.container-main{
    width: 60%;
    margin: 0 auto;
}

main section.container figure#figure-1{
    position: absolute;
    text-align: right;
    right: 245px;
    padding: 0; margin: 0;

}

figure#figure-1 img, figure#figure-2 img, figure#figure-3 img{
    width: 100%;
    height: auto;
}

main section.container figure#figure-2{
    position: absolute;
    bottom: 0px;
    margin: 0; padding: 0;
}

main section.container figure#figure-3{
    position: absolute;
    bottom: 0px;
    margin: 0; padding: 0;
}

div#header{
    font-family: 'Alegreya', serif;
    font-size: 60px;
    font-weight: 700;
    padding-top: 170px;
    line-height: 82px;
}

div#header p{
    margin-top: 0px;
    margin-bottom: 50px;
}

div#header p span#underline{
    background-image: linear-gradient(120deg, #81E6FF 0%, #81E6FF 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 80%;
}

div#sub-header{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 0.5px;
    margin-bottom: 40px;
}

div#description{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 21px;
    line-height: 40px;
}

div#description p{
    margin: 0;
}

input.btn-getstarted{
    background-color: #488EFF;
    color: #fff;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    padding: 16px 36px;
    border: 0px;
    border-radius: 20px 0 20px 0;
    box-shadow: -5px 5px rgba(72, 142, 255,0.3);
}

input#button-main-1{
    margin-top: 55px;
}

div#featured-title{
    text-align: center;
    font-family: 'Alegreya', serif;
    font-weight: 800;
    font-size: 24px;
    margin: 56px 0 60px 0;
}

section.container-sm{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    position: static;
    
}

.container-small{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

div#featured-areas{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 230px;
}

div.flex-area{
    height: 100px;
    width: 25%;
    margin:auto;
}

div#featured-areas img{
    justify-content: center;
    align-items: center;
    align-self: center;
}

section.container-lg{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 120px;
    position: relative;
}

div.lg-title{
    font-family: 'Alegreya', serif;
    font-weight: 700;
    font-size: 42px;
    margin: 135px 0 70px 0;
}

div.lg-body{
    background-color: rgba(26, 115, 232, 0.05);
    padding: 65px 95px 95px 80px;
}

div#lg-main{
    width: 60%;
}

div#lg-title{
    font-family: 'Alegreya', serif;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 35px;
}

div#lg-sub{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    padding-bottom: 30px;
    line-height: 32px;
}

div#lg-main span{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

div#lg-main span a{
    text-decoration: none;
    color:#01022F;
    border-bottom: 1.5px solid #1A73E8;}

div.lg-img-container{
    position: absolute;
    float: right;
    top: 10px;
    right: 50;
    height: 375px;
    width: 327px;
    text-align: center;
    background-color: #fff;
    border-radius: 0px 60px;
    box-shadow: 0 0 30px rgba(26, 115, 232, 0.1);
}

div.lg-img-container h3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 33px;
    font-family: 16px;
    font-weight: 200;
    padding: 15px 0;
    margin: 0;
}

div.lg-img-container img{
    margin-top: 50px;
}

div.lg-img-container span{
    font-family: 'Nunito Sans', sans-serif;
    font-family: 16px;
    font-weight: 600;
}

section.features{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

section.features h3{
    font-family: 'Alegreya', serif;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 30px;
}

span.description-1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 21px;
    margin: 0 auto;

}
.column-1{
    text-align: left;
    margin-top: 80px;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
}

.column-1 figure{
    margin: 0;
    width: 470px;
    height:470px;
    background-position: center;
    background-color: rgba(26, 115, 232, 0.05);
    border-radius: 0 50px;
    display: flex;
    justify-content: center;
}

.column-1 figure img{
    align-self: center;
}

div.content-1{
    width: 44%;
    margin-left: 125px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

div.content-1 h4{
    font-family: 'Alegreya', serif;
    font-size: 30;
    font-weight: 700;
}

div.content-1 p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18;
    line-height: 34px;
}

span.description-2 a{
    margin-top: 50px;
    text-decoration: none;
    color: #2C3964;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    border-bottom: 1.5px solid #2C3964;
}

/* col -2 */


.column-2{
    text-align: left;
    margin-top: 80px;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
}

.column-2 figure{
    margin: 0;
    margin-left: 60px;
    width: 470px;
    height:470px;
    background-position: center;
    background-color: rgba(26, 115, 232, 0.05);
    border-radius: 0 50px;
    display: flex;
    justify-content: center;
}

.column-2 figure img{
    align-self: center;
}

div.content-2{
    width: 44%;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

div.content-2 h4{
    font-family: 'Alegreya', serif;
    font-size: 30;
    font-weight: 700;
}

div.content-2 p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18;
    line-height: 34px;
}

section#testimonails{
    padding-top: 120px;
    position: absolute;
}

section#testimonials h3{
    margin-bottom: 30px;
    font-family: 'Alegreya', serif;
    font-size: 42;
    font-weight: 700;
}

section#testimonials span{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 21px;
}

div#client-testimonials{
    background-color:  rgba(26, 115, 232, 0.05);
    font-size: 30px;
    margin-top: 80px;
    height: auto;
    padding: 90px 0px;
}

div#client-testimonials span.test-title{
    font-family: 'Alegreya', serif;
    font-size: 30;
    font-weight: 700;
}

div#client-testimonials p.test-description{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 21px;
    line-height: 40px;
    width: 70%;
    margin: 50 auto;
}

div#bubble{
    background-image: url(../images/quote_left_bubble-512.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(72, 142, 255, 0.2);
    height: 31px;
    width: 31px;
    border-radius: 50%;
    margin: 0 auto;
}


div.clientdetails{
    margin: 0 auto;
    width: 100%;
    position: relative;
    top: -60px;
}

div.client{
    width: 300px;
    height: 120px;
    background-color: #fff;
    border-radius: 0 30px;
    display: inline-block;
}

div#client-1{
    margin-right: 70px;
}

div#client-3{
    margin-left: 70px;
    
}

div h4#clienturl{
    display: block;
    margin: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

h4#clienturl a{
    text-decoration: none;
    color: #488EFF;
}

div.profileimage{
    height: 61px;
    width: 61px;
    border-radius: 50%;
    background-color: royalblue;
    margin: 25px 10px;
    float: left;
}

div.profile-details{
    color:#000;
    float: left;
    margin: 0;
}

div.profile-details h5{
    font-family: 'Alegreya', serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left;
}

div.profile-details span.designation{
    font-family: 'Alegreya', serif !important;
    font-size: 17px !important;
    float: left;
}

section#idea-box{
    width: 60%;
    margin: 0 auto;
    background-color: #2C3964;
    margin-top: 110px;
    border-radius: 0 50px;
}

div.ideabox-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

div#text-container{
    width: 55%;
    padding-left: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
}

div#text-container p{
    color: #fff;
    font-family: 'Alegreya', serif;
    font-size: 31px;
    font-weight: 700;
}

div#text-container span{
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    font-size: 18px;
}

input#ideabox-button{
    margin: 100px 100px 55px 55px;
} 

footer.footer{
    width: 60%;
    margin: 0 auto;
    margin-top: 75px;
}

div.ft-section-1{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 20px;
}

span#sitecare{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 27px;
}

div.sitecare p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    line-height: 34px;
}

span#ft-company{
    font-family: 'Alegreya', serif;
    font-size: 21px;
    font-weight: 700;
}

div.ft-company ul{
    padding-left: 0px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 46px;
    font-weight: 300;
}

div.ft-company ul li a{
    color: #232323;
}

span#ft-services{
    font-family: 'Alegreya', serif;
    font-size: 21px;
    font-weight: 700;
}

div.ft-services ul{
    padding-left: 0px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 46px;
    font-weight: 300;
}

div.ft-services ul li a{
    color: #232323;
}

span#ft-features{
    font-family: 'Alegreya', serif;
    font-size: 21px;
    font-weight: 700;
}

div.ft-features ul{
    padding-left: 0px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 46px;
    font-weight: 300;
}

div.ft-features ul li a{
    color: #232323;
}

div.ft-section-2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

div.copy-right{
    float: left;
}

div.copy-right span#privacy-terms a{
    color: #488EFF;
    text-decoration: none;
}

div.social-icons{
    float: right;
}

div.social-icons img{
    padding-left: 20px;
}

@media all and (min-width:1800px) and (max-width:1900px){
    figure#main-logo{
        margin: 20px 100px 26px 100px;
    }
}

@media all and (max-width:1874px){
    div.content-2{

        margin-right: 70px;
    }
}

@media all and (min-width:1500px) and (max-width:1800px){
    figure#main-logo{
        margin: 10px;
    }

    nav#navbar ul li{
        margin-right: 30px;
    }

    input#btn-login{
        display: inline-block;
        margin: 37px 50px 34px 0px;
    }   
    nav#navbar{
        font-size: 13px;
    }

    input#btn-login{
        margin: 10px auto;
        font-size: 15px;
        padding: 8px 18px;
    }

    div.container-main{
        width: 70%;
        margin: 0 auto;
    }

    main section.container figure#figure-1{
        right: 25px;    
    }

    section.container-lg{
        width: 90%;
    }
    
    section.container-sm{
        width: 90%;
    }
    
    .container-small{
        width: 90%;
    }
    
    div#lg-main{
        width: 60%;
    }

    section.features{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    section#idea-box{
        width: 90%;
    }

    footer.footer{
        width: 90%;
    }

}

@media all and (min-width:1200px) and (max-width:1500px){
    figure#main-logo{
        margin: 10px;
    }

    nav#navbar ul li{
        margin-right: 30px;
    }

    div#header{
        padding-top: 40px;
    }
    input#btn-login{
        display: inline-block;
        margin: 37px 50px 34px 0px;
    }   
    nav#navbar{
        font-size: 13px;
    }

    input#btn-login{
        margin: 10px auto;
        font-size: 15px;
        padding: 8px 18px;
    }

    div.container-main{
        width: 70%;
        margin: 0 auto;
    }

    main section.container figure#figure-1{
        right: 25px;    
    }

    section.container-lg{
        width: 90%;
    }
    
    section.container-sm{
        width: 90%;
    }
    
    .container-small{
        width: 90%;
    }
    
    div#lg-main{
        width: 60%;
    }

    section.features{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    section#idea-box{
        width: 90%;
    }

    footer.footer{
        width: 90%;
    }
}

@media all and (min-width:800px) and (max-width:1200px){

    figure#main-logo{
        margin: 0 auto;
        margin:10px 10px 10px 10px;
        padding: 0px;
        float: none;
        width: 80%;
        
    }

    figure#main-logo img{
        width: 50%;
    }

    nav#navbar ul li{
        margin-right: 10px;
    }

    input#btn-login{
        display: inline-block;
        margin: 37px 50px 34px 0px;
    }   
    nav#navbar{
        font-size: 13px;
    }

    div#header{
        font-weight: 700;
        padding-top: 50px;
    }

    input#btn-login{
        margin: 10px auto;
        font-size: 15px;
        padding: 8px 18px;
    }

    div.container-main{
        width: 100%;
        margin: 0 auto;
    }

    main section.container figure#figure-1{
        right: 25px;    
    }

    section.container-lg{
        width: 100%;
    }
    
    section.container-sm{
        width: 100%;
    }
    
    .container-small{
        width: 100%;
    }
    
    div.flex-area img{
        width: 60%;
    }
    
    div#lg-main{
        width: 60%;
    }

    section.features{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .column-1 figure{
        margin: 0;
        width: 200px;
        height:200px;
        background-position: center;
        background-color: rgba(26, 115, 232, 0.05);
        border-radius: 0 50px;
        display: flex;
        justify-content: center;
    }

    .column-1 figure img{
        width: 80%;
    }
    .column-2 figure img{
        width: 80%;
    }

    .column-2 figure{
        margin: 0;
        /* margin-left: 60px; */
        width: 200px;
        height:200px;
        background-position: center;
        background-color: rgba(26, 115, 232, 0.05);
        border-radius: 0 50px;
        display: flex;
        justify-content: center;
    }

    div#text-container{
        width: 55%;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    section#idea-box{
        width: 100%;
    }

    input#ideabox-button{
        margin: 20px;
    }

    footer.footer{
        width: 90%;
    }
}

@media all and (min-width:500px) and (max-width:800px){
    figure#main-logo{
        display:flex;
        flex-wrap: wrap;
    }

    figure#main-logo img{
        width: 50%;
        height: auto;
    }
    
    nav#navbar{
        font-size: 13px;
    }
    
    input#btn-login{
        margin: 10px auto;
        font-size: 15px;
        padding: 8px 18px;
    }
    
    nav#navbar ul{
        padding: 0px;
        margin-top: 10px;
    }
        
    div.container-main{
        width: 70%;
        margin: 0 auto;
    }
    
    main section.container figure#figure-1{
        right: 25px;    
    }
    
    figure#figure-1 img, figure#figure-2 img, figure#figure-3 img{
        width: 70%;
        height: auto;
    }
    
    div#header{
        font-family: 'Alegreya', serif;
        font-size: 30px;
        font-weight: 700;
        padding-top: 50px;
        line-height: 30px;
    }
    
    div#header p{
        margin-top: 0px;
        margin-bottom: 50px;
    }
    
    div#sub-header{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 300;
        font-size: 25px;
        letter-spacing: 0.5px;
        margin-bottom: 20px;
    }
    
    div#description{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 15px;
        line-height: 20px;
    }
    
    input.btn-getstarted{
        font-size: 12px;
        padding: 10px 20px;
        border-radius: 20px 0 20px 0;
    }
    
    input#button-main-1{
        margin-top: 35px;
    }
    
    section.container-sm{
        width: 80%;
    }
    
    .container-small{
        width: 80%;
    }
    
    div#featured-areas{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
    
    div.flex-area{
        height: 60px;
        width: 100%;
        margin:auto;
    }
    
    div#featured-areas img{
        width: 30%;
    }

    section.container-lg{
        width: 80%;
        position: static;
    }
    
    div.lg-title{
        font-family: 'Alegreya', serif;
        font-weight: 700;
        font-size: 32px;
        margin: 135px 0 70px 0;
    }
    
    div#lg-main{
        width: 80%;
    }
    
    div#lg-title{
        font-size: 25px;
    }
    
    div#lg-sub{
        font-size: 15px;
    }
    
    div#lg-main span{
        font-size: 16px;
    }
    
    div.lg-img-container{
        position: static;
        /* height: 100px;
        width: 100px; */
        text-align: center;
        background-color: #fff;
        border-radius: 0px 20px;
        box-shadow: 0 0 30px rgba(26, 115, 232, 0.1);
    }
    
    div.lg-img-container h3{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 33px;
        font-family: 16px;
        font-weight: 200;
        padding: 15px 0;
        margin: 0;
    }
    
    div.lg-img-container img{
        margin-top: 10px;
        width: 60%;
    }
    
    div.lg-img-container span{
        font-family: 'Nunito Sans', sans-serif;
        font-family: 16px;
        font-weight: 600;
    }
    
}